<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html>

  <head>
    <%- include("../partials/headers") %>
    <!--ariel ws-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();

      
      function setWs() {
        document.getElementById("1").className ="nav-item active";
        document.getElementById("2").className ="nav-item ";
        document.getElementById("3").className ="nav-item ";

        setClock();
        totalCalls();
        totalWaitingCalls();
      }

      function setClock() {
        const date = Date.now();
        const dateTimeFormat = new Intl.DateTimeFormat('en', {
          year: 'numeric',
          month: 'short',
          day: '2-digit',
          hour: 'numeric',
          minute: 'numeric'
        })
        var element = document.getElementById("time");
        const [{
          value: month
        }, , {
          value: day
        }, , {
          value: year
        }, , {
          value: hour
        }, , {
          value: minute
        }] = dateTimeFormat.formatToParts(date)
        element.innerText = `${hour}:${minute}\n ${day}-${month}-${year} `;
        setTimeout(setClock, 1000);
      }

      function totalCalls() {
        socket.on('average waiting time', function(msg) {
          var element = document.getElementById(msg.cardId);
          element.innerText = msg.value + " sec";
        })
        setTimeout(totalCalls, 100);
      }

      function totalWaitingCalls() {
        socket.on('totalWaitingCalls', function(msg) {
          var today = new Date();
          var TimeInMin = (parseInt(today.getHours()) * 60) + parseInt(today.getMinutes());
          sessionStorage.setItem(`total Waiting Calls at ${TimeInMin}`,msg.value);
          var element = document.getElementById(msg.cardId);
          element.innerText = msg.value + " calls";
        })
        setTimeout(totalWaitingCalls, 100);
      }


      function flushAll() {
        var Flush = "delete data from redis";
       sessionStorage.clear();
        socket.emit("delete", Flush);
        alert("data has been deleted..");
      }

    </script>
    <!--ariel ws -->
  </head>

  <body class="" onload="setWs()" style="background-image: url(images/cover.jpg);">
    <div class="wrapper ">
      <%- include("../partials/sidebar") %>
      <div class="main-panel">
        <%- include("../partials/navbar") %>
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <!--start-->
              <% cards.forEach(function(card) { %>
              <%- include("../partials/card",card) %>
              <% }); %>
              <!--end-->
            </div>
            <div class="row">
              <%- include("../partials/Chart") %>
            </div>
          </div>
        </div>
        <%- include("../partials/footer") %>
      </div>
    </div>
    <%- include("../partials/dashcode") %>
  </body>

</html>
